* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Merriweather', serif;
    background-color: #f5f5f5;
    color: black;
    font-size: 18px;
    line-height: 1.6;
}


/* Buttons */
.btn {
    background-color: #0256CE;
    color: white; 
    font-size: 1.1em; 
    font-weight: bold; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.btn:hover {
    background-color: #2A4D69; 
    transform: scale(1.05); 
}



a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

a:hover {
    color: #0256CE;
}


.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.font-bold {
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}
